$white: #ddd;
$blue: #1d4f64;
$black: #333;
$beige: #f3edf1;
$txtColor: #a1ab41;
$darkcolor: #5a6111;
$footTxt: #edf1c1;

$font-1: "Dancing Script", cursive;
$font-2: "Comfortaa";
$poppins: "Poppins", sans-serif;

$shadow: 0 1px 3px #333;
$box-shadow: 0 1px 3px #aab5ad;
$border: 25px;
$min-height: 95vh;

span {
  color: $txtColor;
  font-size: 26px;
  &:hover {
    color: linear-gradient(188deg, #606617, #bfc57c, #a6b02f);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  height: 100vh;
  font-style: normal;
  font-family: $font-1;
  color: $black;
}
main {
  display: flex;
  flex-direction: column;
  padding: 5% 10px;
  @media screen and (max-width: 768px) {
    padding-top: 10%;
  }
}

section {
  margin: 30px 40px;
}

button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
