section {
  margin: 30px 40px;
  padding: 0 10%;
  text-align: center;
  h2 {
    font-size: calc(0.7rem + 5vw);
    font-family: "Dancing Script", cursive;
    font-display: swap;
    background: linear-gradient(360deg, #444818, #bfc57c, #a6b02f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    font-family: $poppins;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}
.skills {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  gap: 5rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.skillsContent {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.skillsBox {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.competenceBox {
  border: 2px solid #333;
  width: 300px;
  border-radius: 15px;
  padding: 15px;
  @media screen and (max-width: 768px) {
    width: auto;
  }

  i {
    font-size: 40px;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-display: swap;
    font-size: 14px;
    line-height: calc(1px + 2.5vw);
    letter-spacing: 1px;
    text-align: center;
    margin: 0 auto;
  }
  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  .violet {
    color: #c66395;
  }
  .yellow {
    color: yellow;
    background: black;
  }
  .react {
    color: #61dbfb;
  }
  .green {
    color: green;
  }
}
