footer {
  background-color: $blue;
  width: 100%;
  border-radius: $border;

  span {
    font-family: $font-1;
    @include swap;
    @include flexCenter;
  }
  .social {
    @include flexCenter;
    gap: 2rem;
    padding: 1.3rem;
  }
  a,
  i,
  span {
    color: $footTxt;
    font-size: 35px;
    cursor: pointer;
  }
  .footer-text {
    padding: 2.1rem 0.6rem;

    p {
      color: #edf1c1;
      text-align: center;
      font-size: 14px;
      font-family: $poppins;
      @include swap;
      padding: 1.1rem;
    }
  }
}
