.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  min-height: 75px;
  background-color: $blue;
  color: $footTxt;
  top: 0;
  z-index: 2;
}

.nav-links {
  display: flex;
  font-size: 1.9rem;
}
.nav-item:hover {
  scale: 1.2;
  color: #ecef17fc;
  transition: 1s;
}
.navlink {
  padding: 0 1.2rem;
  color: inherit;
  .fas {
    margin-right: 4px;
  }
}
.navbar-burger {
  width: 40px;
  height: 40px;
  background: transparent;
  color: inherit;
  display: none;
  border: none;
}
@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 100%;
    padding: 0 30%;
    background: $blue;
    transition: all 0.9s ease-in-out;
  }
  .show-links .nav-links {
    right: 0;
    width: 110vw;
    visibility: visible;
  }
  .navlink {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .navbar-burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .navbar-burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: $footTxt;
    transition: all 0.5s ease-in-out;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-links .burger-bar::before {
    transform: rotate(45deg);
  }
  .show-links .burger-bar {
    width: 0;
    background: transparent;
  }
  .show-links .burger-bar::after {
    transform: rotate(-45deg);
  }
}
