.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  gap: 25px;
  font-family: $font-1;
  font-display: swap;
  font-weight: 400;
  font-size: calc(0.8rem + 1.7vw);
  background: white;
  position: fixed;
  right: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 0 3px 3px #eee;
  @media screen and (max-width: 768px) {
    justify-content: space-between;
    padding: 0 5px;
  }
  @media screen and (max-width: 468px) {
    display: none;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    color: #5b7222;
    display: flex;
    gap: 5px;
  }
  .header-active {
    color: $blue;
    transition: 0.4s;
  }
}
