.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 10px 10px 60%;
  gap: 25px;
  font-family: "Dancing Script", cursive;
  font-display: swap;
  font-weight: 400;
  font-size: calc(1rem + 1vw);
  a {
    text-decoration: none;
    cursor: pointer;
    color: #5b7222;
    display: flex;
    gap: 5px;
  }
  .header-active {
    color: $blue;
    transition: 0.4s;
  }
}

.green {
  color: #5b7222;
}
