// Scroll
.scroll {
  position: fixed;
  right: 2.5rem;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    right: 1rem;
  }
  @media screen and (max-width: 430px) {
    display: none;
  }
}
.scroll .fas {
  padding: 8px;
  font-size: 1.3rem;
  color: $darkcolor;
  background: #eee;
  border-radius: 0.2rem;
  @media screen and (max-width: 900px) {
    font-size: 1rem;
  }
}
.scroll .fas:hover {
  background: #eee;
  filter: opacity(0.5);
  transition: 0.3s;
}
.scroll-active {
  bottom: 4rem;
  transition: 0.3s;
  z-index: 1;
}
// Home
h1 {
  font-size: calc(1rem + 8vw);
  font-family: $font-1;
  background: linear-gradient(360deg, #444818, #bfc57c, #a6b02f);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  margin: 0 auto;
}
.profession {
  font-size: calc(0.5rem + 4vw);
  font-family: $font-1;
  background: linear-gradient(360deg, #444818, #bfc57c, #a6b02f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about {
  text-align: center;
  p {
    font-family: $poppins;
    font-size: calc(0.5rem + 1vw);
    letter-spacing: 1px;
    text-align: justify;
    width: 70%;
    min-width: 280px;
    margin: 0 auto;
  }
}

.line {
  display: block;
  height: 2px;
  width: 70%;
  background: #000101;
  margin: 20px auto;
}
.cv {
  text-align: center;
  margin: 10px;
  span {
    font-family: $poppins;
    text-transform: uppercase;
    color: $black;
    font-size: 20px;
    font-weight: normal;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}
.btn {
  font-size: 2rem;
  border-radius: 15px;
  background: #eee;
  padding: 12px;
  box-shadow: 1px 2px #cdd3cd;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    padding: 10px;
  }
}
.btn .bx {
  font-size: 1.2rem;
}
.btn:hover {
  background: $txtColor;
  transition: 0.3s all linear;
}

.imgRight {
  @include vertical;
}

.image {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  @media screen and (max-width: 768px) {
    background-image: url("../../assets/img/maphoto-mini.webp");
    width: 200px;
    height: 200px;
  }
}
