// Scroll
.scroll {
  position: fixed;
  right: 1.5rem;
  //bottom: -100%;
}
.scroll .fas {
  padding: 8px;
  font-size: 1.3rem;
  color: $darkcolor;
  background: #eee;
  border-radius: 0.2rem;
}
.scroll .fas:hover {
  background: #eee;
  filter: opacity(0.5);
  transition: 0.3s;
}
.scroll-active {
  bottom: 2rem;
  transition: 0.3s;
}

.home {
  h1 {
    font-size: calc(1rem + 8vw);
    font-family: $font-1;
    background: linear-gradient(360deg, #444818, #bfc57c, #a6b02f);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0 auto;
  }
  .profession {
    font-size: calc(0.3rem + 4vw);
    font-family: $font-1;
    background: linear-gradient(360deg, #444818, #bfc57c, #a6b02f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about {
    text-align: center;
  }
  p {
    font-family: $poppins;
    font-size: calc(0.5rem + 1vw);

    letter-spacing: 1px;
    text-align: justify;
    width: 70%;
    min-width: 280px;
    margin: 0 auto;
  }
}
.line {
  display: block;
  height: 2px;
  width: 70%;
  background: #000101;
  margin: 20px auto;
  // transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
  // transition-delay: 0.45s;
}
.cv {
  text-align: center;
  margin-top: 40px;
  span {
    font-family: $poppins;
    text-transform: uppercase;
    color: $black;
    font-size: 20px;
    font-weight: normal;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}
.btn {
  font-size: 2rem;
  border-radius: 15px;
  background: #eee;
  padding: 12px;
  box-shadow: 1px 2px #cdd3cd;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    padding: 10px;
  }
}
.btn .bx {
  font-size: 1.2rem;
}
.btn:hover {
  background: $txtColor;
  transition: 0.3s all linear;
}

.imgRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
