.home {
  .homeContent {
    font-family: $font-1;
    text-align: center;
  }
  .textCenter {
    background: linear-gradient(360deg, #444818, #bfc57c, #a6b02f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 37px;
  }
  .cv {
    a {
      font-family: "Poppins";
      font-size: 20px;
      background: $txtColor;
      border-radius: $border;
      box-shadow: 0 5px 1px rgb(15, 15, 15);
      transition: 0.2s ease;
      padding: 5px;
      a:hover {
        color: $light;
      }
    }
  }
}
.info {
  color: $black;
  font-size: 24px;
}
.imgRight {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
h1 {
  background: linear-gradient(180deg, #444818, #bfc57c, #a6b02f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52px;
  text-align: center;
}
.about {
  display: flex;
  margin: 5%;
}
.image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
