span {
  font-family: "Dancing Script";
  color: #a1ab41;
  font-size: 26px;
}
span:hover {
  color: linear-gradient(188deg, #606617, #bfc57c, #a6b02f);
}

body {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  font-style: normal;
  font-family: "Dancing Script";
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  padding: 30px 10px 50px 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

img {
  color: #a1ab41;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 10px 10px 60%;
  gap: 25px;
  font-family: "Dancing Script", cursive;
  font-display: swap;
  font-weight: 400;
  font-size: calc(1rem + 1vw);
}
.links a {
  text-decoration: none;
  cursor: pointer;
  color: #5b7222;
  display: flex;
  gap: 5px;
}

.active {
  color: #1d4f64;
  transition: 0.4s;
}

footer {
  background-color: #1d4f64;
  width: 100%;
  border-radius: 25px;
  height: 200px;
  box-sizing: border-box;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.button p {
  font-size: 25px;
  color: #a1ab41;
}
.button .size {
  font-size: 18px;
  font-family: "Poppins";
}

.home h1 {
  font-size: calc(1rem + 8vw);
  font-family: "Dancing Script";
  background: linear-gradient(360deg, #444818, #bfc57c, #a6b02f);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
}
.home .profession {
  font-size: calc(0.3rem + 4vw);
  font-family: "Dancing Script";
  background: linear-gradient(360deg, #444818, #bfc57c, #a6b02f);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home .about {
  text-align: center;
}
.home p {
  font-family: "Poppins";
  font-size: calc(0.5rem + 1vw);
  letter-spacing: 1px;
  text-align: justify;
  width: 70%;
  min-width: 280px;
  margin: 0 auto;
}

.line {
  display: block;
  height: 2px;
  width: 70%;
  background: #000101;
  margin: 20px auto;
}

.cv {
  text-align: center;
  margin-top: 20px;
}
.cv span {
  font-family: "Poppins";
  text-transform: uppercase;
  color: #333;
  font-size: 20px;
  font-weight: normal;
}

.btn {
  font-size: 2rem;
  border-radius: 15px;
  background: #eee;
  padding: 12px;
  box-shadow: 1px 2px #cdd3cd;
  width: 120px;
}

.btn .bx {
  font-size: 1.2rem;
}

.btn:hover {
  background: #a1ab41;
  transition: 0.3s all linear;
}

.imgRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  max-width: 1200px;
  background-color: #a1ab41;
  border-radius: 25px;
  text-align: center;
}
.error h3 {
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #333;
}
.error a {
  padding: 1rem 2rem;
  border-radius: 25px;
  background-color: #1d4f64;
  transition: 0.2s;
}
.error a:hover {
  background: #333;
}

section {
  margin: 30px 40px;
  padding: 0 10%;
  text-align: center;
}
section h2 {
  font-size: calc(0.7rem + 5vw);
  font-family: "Dancing Script", cursive;
  font-display: swap;
  background: linear-gradient(360deg, #444818, #bfc57c, #a6b02f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
section h3 {
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.skills {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  gap: 5rem;
}
@media screen and (max-width: 768px) {
  .skills {
    flex-direction: column;
  }
}

.skillsContent {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.skillsBox {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.competenceBox {
  border: 2px solid #333;
  width: 300px;
  border-radius: 15px;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  .competenceBox {
    width: auto;
  }
}
.competenceBox i {
  font-size: 40px;
}
.competenceBox p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: calc(1px + 2.5vw);
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
}
.competenceBox .red {
  color: red;
}
.competenceBox .blue {
  color: blue;
}
.competenceBox .violet {
  color: #c66395;
}
.competenceBox .yellow {
  color: yellow;
  background: black;
}
.competenceBox .react {
  color: #61dbfb;
}
.competenceBox .green {
  color: green;
}/*# sourceMappingURL=index.css.map */