.competence {
  .competenceContent {
    min-height: $min-height;
    width: 100%;
    position: relative;
    overflow: hidden;

    h3 {
      font-size: 20px;

      margin-bottom: 1rem;
      font-family: $font-2;
      color: $txtColor;
      text-transform: uppercase;
    }
    // .languagesFrameworks {
    //   grid-area: L;
    //   margin-bottom: 0.5rem;
    //   display: grid;
    //   grid-template-columns: 1fr;
    //   grid-template-rows: 1fr 1fr;
    //   grid-template-areas:
    //     "L"
    //     "L";
    // }
  }
}
