.project {
  position: relative;
  max-width: 600px;
  padding: 15px 0;
  @media screen and (max-width: 768px) {
    width: auto;
  }
  img {
    height: 300px;
    border: 8px solid $darkcolor;
    transition: 0.4s ease-in-out;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 2px #c0c1b7;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 60%;
    }
  }
}
.project:hover img {
  filter: brightness(20%);
}
.info {
  font-family: $poppins;
  font-size: calc(1rem + 3vw);
  color: $txtColor;
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 5vw;
  transition: 1s ease-in-out;
  opacity: 0;
  p {
    font-size: 1.5rem;
    margin-top: 1.5vw;
    color: $white;
    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  a {
    font-family: $poppins;
    font-size: 18px;
    color: $white;
    @include flexColumn;
    border: 1px solid $white;
    border-radius: 15px;
    margin: 20px 50px;
    width: 60%;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
.project:hover .info {
  opacity: 1;
  transform: translate(0, -50%);
}

.right-style {
  margin: 0 6vw 0 auto;

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}
.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
